	<ion-view view-title="个人中心">
			<ion-content>
				<div class="list">
					<a class="item item-icon-left  " ui-sref="tab.profile({})">
						<i class="icon ion-social-octocat"></i> 个人资料 
					</a>

					<a class="item item-icon-left  " ui-sref="tab.publish({})">
						<i class="icon ion-ios-color-wand"></i> 发布美图

					</a>
					<a class="item item-icon-left  " ui-sref="tab.publishP({})">
						<i class="icon ion-lightbulb"></i> 发布产品
					</a>
					<!--
               	<a class="item item-icon-left  " ng-click="oauth.logoutAll()" ng-if=" principal.isAuthenticated() ">
						<i class="icon ion-log-out"></i> 退出登录
					</a>
                    -->

				</div>

			</ion-content>
		</ion-view>