		<ion-view>

			<ion-nav-title>
				收支记录
			</ion-nav-title>
			<!--
    		<ion-nav-buttons side="left" ng-init="vm={}">

				<button fix-history where="tab.profile"     bool-if="vm.boolIf"      class='button button-icon icon ion-android-arrow-back  '></button>
			</ion-nav-buttons>
            -->

			<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
				<div class="tabs">

					<a class="tab-item" ng-class="{'active':params.PayType*1===0}" ui-sref="tab.paidList({PayType:0,CUserID:Profile.info.SUserID,SUserID:Profile.info.CUserID,AccountType:'Deposit'}) ">
          积分
        </a>
					<a class="tab-item" ng-class="{'active': params.PayType*1===406311 }" ui-sref="tab.paidList({PayType:406311,CUserID:Profile.info.SUserID,SUserID:Profile.info.CUserID,AccountType:'deposit'}) ">
         奖金
        </a>
					<a class="tab-item" ng-class="{'active': params.PayType*1===406211 }" ui-sref="tab.paidList({PayType:406211,CUserID:Profile.info.CUserID,SUserID:Profile.info.CUserID,AccountType:'deposit'}) ">
         提现
        </a>

					<a class="tab-item" ui-sref="tab.withdraw({})">
     我要提现
        </a>
				</div>
			</div>

			<!--
      	 	<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
      <div class="tabs">
     
            <a class="tab-item active"  ui-sref="tab.withdraw({})">
     我要提现
        </a>
      </div>
    </div>
            -->

			<ion-content class="dbheader" style="background-color:  #EEEEEE;top: 88px;">

				<ion-list>
<!-- AccountType: params.AccountType,-->
					<ion-item item-width="100%" item-height="75px" collection-repeat="item in  	PaidRecord.data
 | filter:  {  PayType:params.PayType*1}  :true   track by item.PayID">

						<span style="font-weight: 700;"> {{item.CRemark}}</span>

						<span class="item-note">
     <span style="color: #28A54C;">
 {{item.Amount}}元
     </span>
						<br />
						</span>

						<br>
						<span>时间：{{item.PaidTime}}</span>
						</span>

					</ion-item>

				</ion-list>

				<ion-infinite-scroll ng-if="!PaidRecord.IsLast[keyName]" on-infinite="loadMore()">
				</ion-infinite-scroll>
				<div class="padding" ng-if="PaidRecord.IsLast[keyName]" style="text-align: center;">没有更多了...</div>

			</ion-content>
		</ion-view>